/* Couleurs navbar */
.custom-navbar {
  background-color: #1d8038;
}

/* Liens “outline” : contour et texte */
.custom-navbar .btn-outline-light {
  color: #fff;
  border-color: #77b388; /* vert clair contrasté */
}

/* Hover/Focus : fond vert clair, texte foncé */
.custom-navbar .btn-outline-light:hover,
.custom-navbar .btn-outline-light:focus {
  background-color: #77b388;
  color: #1d8038;
  border-color: #77b388;
}
